{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div  class="container  mt-3" style="width:95% ; font-size:14px">

    <form method="POST" class="card p-3 mt-5">
    {% csrf_token %}
    {{form|crispy}}
    <input name="" id="" class="btn btn-primary" type="submit" value="Singup" > 
</form>
{% for message in messages %}
{% if message.tags == "success" %}
    <div class="alert alert-primary alert-dismissible fade show" role="alert">{{message}}
        <a  type="button" class="btn btn-close" data-bs-dismiss="alert" aria-label="close"></a>
    </div>
{% endif %}
{% endfor %}
</div>
{% endblock %}